# Server
PORT=3000

# Salesforce Client Credentials Flow
SF_LOGIN_URL=https://login.salesforce.com
SF_INSTANCE_URL=https://account-dev-ed.develop.salesforce.com
SF_CLIENT_ID=YOUR_CONNECTED_APP_CONSUMER_KEY
SF_CLIENT_SECRET=YOUR_CONNECTED_APP_CONSUMER_SECRET

# Zoho Mail
ZOHO_CLIENT_ID=YOUR_ZOHO_CLIENT_ID
ZOHO_CLIENT_SECRET=YOUR_ZOHO_CLIENT_SECRET
ZOHO_REFRESH_TOKEN=YOUR_ZOHO_REFRESH_TOKEN
ZOHO_ACCOUNT_ID=YOUR_ZOHO_ACCOUNT_ID
ZOHO_FROM_EMAIL=YOUR_ZOHO_FROM_EMAIL

# Weather API
WEATHER_API_KEY=YOUR_WEATHERAPI_KEY

# Thirukural API
THIRUKURAL_API_KEY=YOUR_THIRUKURAL_KEY

# OTP Expiry in minutes
OTP_EXPIRY_MINUTES=10
